<!DOCTYPE html>
<html lang="en" xmlns:th="http:thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Current user</title>
    <style>table th, table td {padding: 5px;}</style>
</head>
<body>
<div>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Password</th>
            <th>Role</th>
        </tr>

        <tr th:each="usr : ${user}">
            <td th:utext="${usr.getId()}"></td>
            <td th:utext="${usr.getName()}"></td>
            <td th:utext="${usr.getAge()}"></td>
            <td th:utext="${usr.getPassword()}"></td>
            <td th:utext="${usr.getRole()}"></td>
        </tr>
    </table>
    <br>
    <form method="GET" action="/logout">
        <input type="submit" value="Logout">
    </form>
</div>

</body>
</html>